<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>活动 - 卓越论坛</title>
</head>
<body>

<!--导航条-->
<nav th:replace="_fragments :: menu(4)" class="ui attached blue segment m-padded-tb-none m-shadow-small">
    <div class="ui container">
        <div class="ui stackable secondary menu">
            <h2 class="ui m-item item blue header m-mobile-show">卓越论坛</h2>
            <a href="#" class="m-item item m-mobile-none">
                <img src="../static/images/zyfourm.png" alt="" class="ui image">
            </a>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>帖子</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="bookmark icon"></i>论坛</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="th icon"></i>版块</a>
            <a href="#" class="m-item item active blue m-mobile-hide"><i class="flag outline icon"></i>活动</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="question circle icon"></i>个人信息</a>
            <div class="m-item item menu m-mobile-none ">
                <div class="ui icon input">
                    <form name="search" action="#" target="_blank" method="post">
                        <div class="ui action left input">
                            <input name="query" type="text" placeholder="搜索...">
                            <div class="ui animated button fade">
                                <div class="visible content">搜索</div>
                                <div class="hidden content">
                                    <i class="search icon"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <a href="#" id="model" class="m-item m-mobile-hide item extra"><i class="sign-in icon"></i>登录</a>
            <div style="display: none" class="ui item">
                <div class="ui icon top pointing dropdown">
                    <img src="../static/images/user.png" alt="" class="ui avatar image">
                    <i class="list icon"></i>
                    <div style="right: -35px;" class="menu" data-filtered="filtered">
                        <div class="header" data-filtered="filtered"><h5>卓越科技</h5></div>
                        <a href="#" class="item" data-filtered="filtered">用户信息</a>
                        <div class="item" data-filtered="filtered">设&nbsp;&nbsp;置</div>
                        <div class="ui divider" data-filtered="filtered"></div>
                        <div class="item" data-filtered="filtered">登&nbsp;&nbsp;出</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--移动端 下拉菜单-->
    <a href="#" class="ui menu toggle icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--登录注册-->
<div th:replace="_fragments :: login" class="ui modal" id="sign-in">
    <div class="ui container">
        <img src="../static/images/zyfourm.png" alt="未显示图片" class="ui image" style="margin: 20px auto;">
    </div>
    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="first">用户登录</a>
        <a class="item" data-tab="second">注册账号</a>
    </div>
    <i class="close icon"></i>
    <div class="ui tab active" data-tab="first" style="margin: 20px;">
        <div class="ui attached message">
            <div class="header">
                欢迎访问卓越论坛！
            </div>
            <p>通过登录获取更多功能</p>
        </div>
        <form class="ui login form attached segment fluid">
            <div class="field">
                <label>账号</label>
                <input name="username" type="text" placeholder="用户名">
            </div>
            <div class="field">
                <label>密码</label>
                <input name="password" type="password" placeholder="密码" autocomplete>
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox" id="terms">
                    <label for="terms">下次自动登录</label>
                </div>
            </div>
            <div class="ui blue submit button">登录</div>
            <div class="ui error message" data-filtered="filtered"></div>
        </form>
    </div>
    <div class="ui tab" data-tab="second" style="margin: 20px;">
        <div class="ui attached message">
            <div class="header">
                欢迎访问卓越论坛！
            </div>
            <p>注册一个新帐户</p>
        </div>
        <form class="ui register form attached fluid segment">
            <div class="field">
                <label>用户名</label>
                <input name="username" type="text" placeholder="用户名">
            </div>
            <div class="field">
                <label>密码</label>
                <input name="password" type="password" placeholder="密码" autocomplete>
            </div>
            <div class="field">
                <label>邮箱</label>
                <input name="email" placeholder="邮箱" type="email">
            </div>
            <div class="field">
                <label>验证码</label>
                <div class="fields">
                    <div class="ui field action input">
                        <input name="code" type="text" placeholder="验证码">
                        <button id="verify" class="ui primary button" onclick="sendMessage()">发送验证码</button>
                    </div>
                </div>
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox" checked disabled>
                    <label for="terms">同意服务条款</label>
                </div>
            </div>
            <div class="ui blue submit button">注册</div>
            <div class="ui error message" data-filtered="filtered"></div>
        </form>
    </div>
</div>

<!--中间内容-->
<div id="waypoint" class="ui container m-padded-tb-big">
    <!--中间内容-->
    <div class="ui attached segment">
        <div class="ui center aligned container">
            <div class="ui two column grid">
                <div class="left aligned column">
                    <img src="../static/images/active1.jpg" th:src="@{/images/active1.jpg}" alt="" style="width: 95%">
                    <div class="content">
                        <a class="">【众测】100台mesh路由免费领</a>
                        <div class="description">
                            <div class="ui mini horizontal link list">
                                <div class="item">
                                    <span>2019-08-07</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra">
                            <a class="ui right floated primary button">正在进行中</a>
                        </div>
                    </div>
                </div>
                <div class="left aligned column">
                    <img src="../static/images/active2.jpg" th:src="@{/images/active2.jpg}" alt="" style="width: 95%">
                    <div class="content">
                        <a class="">【众测】100台mesh路由免费领</a>
                        <div class="description">
                            <div class="ui mini horizontal link list">
                                <div class="item">
                                    <span>2019-08-07</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra">
                            <a class="ui right floated primary button">正在进行中</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui center aligned container">
            <div class="ui two column grid">
                <div class="left aligned column">
                    <img src="../static/images/active3.jpg" th:src="@{/images/active3.jpg}" alt="" style="width: 95%">
                    <div class="content">
                        <a class="">【众测】100台mesh路由免费领</a>
                        <div class="description">
                            <div class="ui mini horizontal link list">
                                <div class="item">
                                    <span>2019-08-07</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra">
                            <a class="ui right floated primary button">正在进行中</a>
                        </div>
                    </div>
                </div>
                <div class="left aligned column">
                    <img src="../static/images/active4.jpg" th:src="@{/images/active4.jpg}" alt="" style="width: 95%">
                    <div class="content">
                        <a class="">【众测】100台mesh路由免费领</a>
                        <div class="description">
                            <div class="ui mini horizontal link list">
                                <div class="item">
                                    <span>2019-08-07</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra">
                            <a class="ui right floated primary button">正在进行中</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--底部导航条-->
<div th:replace="_fragments :: toolbar" id="toolbar" class="ui m-fixed m-right-bottom m-padded" style="display: none">
    <div class="ui vertical icon buttons">
        <a id="toTop-button" class="ui icon button"><i class="up chevron icon"></i></a>
    </div>
</div>

<!--尾部内容-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-large">
    <div class="ui center aligned container">
        <p class="m-text-spaced m-text-thin m-opacity-tiny">Copyright © 2019 - 2020 卓越论坛</p>
    </div>
</footer>

<div th:replace="_fragments :: scripts">
</div>

</body>
</html>